<div >
    <h1>
      {{title}}
    </h1>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div >
        <label for="username">Username</label>
        <input type="text" id="username" 
          placeholder="Enter username" formControlName="username" />
      </div>
  
      <div >
        <label for="password">Password</label>
        <input type="password" id="password" 
          placeholder="Enter password" formControlName="password" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>